# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# =========================
# Environment & Secrets
# =========================
.env
.etl/.env
app/.streamlit/secrets.toml
app/.streamlit/.secrets/
.streamlit/secrets.toml
.secrets/
# =========================
# Logs & Debug
# =========================
*.log
*.out

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Database / Dumps
# =========================
*.sql
*.db

# =========================
# Temporary Files
# =========================
*.tmp
*.bak
*.swp

# =========================
# Streamlit cache
# =========================
.streamlit/cache/

# =========================
# Build / Dist
# =========================
build/
dist/
*.egg-info/